p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lavender;
}

ul {
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #216C46;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0E2D1D;
    font-size: 25px;
}

img {
    width: 500px;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #220834;
}

.intro-paragraph {
    font-size: 20px;
    font-weight: bold;
    color: #340E4E;
}